*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    
}

form{
    height: 70vh;
    width: 20%;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(https://img.freepik.com/premium-photo/search-bar-icon-search-3d-render-minimal-design-multicolor-background_41204-14767.jpg);
    background-size: cover;
    background-position: center;
}

.login-container{
text-align: center;
padding: 30px;
}

.login-container h1{
    margin: 10px;
    color: white;
}

.login-container input{
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}



.login-container button{
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    
}
 button:hover{
    background-color: rgb(100, 100, 248);
 }

 p{
    
    display: flex;
    padding: 10px
    
 }

p a {
    color: white;
}